<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Regression" parallel = "classes" thread-count = "4">
<test name ="Application test">
<parameter name ="browser" value = "chrome"></parameter>


<classes> 



<class name = "com.TestNG.Logintest"> 
<!--  
<methods>
<include name= "Urltest"></include>
</methods>
-->
</class>
<class name="com.TestNG.FreeCrm"> </class>

</classes>
</test>





</suite>